<header>
  <div class="center">
    <div class="logo">
      <img src="assets/logo.png" width="110" height="95" />
    </div>
    <div class="menu">
      <a href="#">Portfólio</a>
      <a href="#">Processo</a>
      <a href="#">FAQ</a>
    </div>
  </div>
  <div class="header-content">
    <h1>
      <span>Portal </span>
      <span>Monitoramento e </span>
      <span>Observabilidade </span>
      <span>TI Oi </span>
    </h1>
  </div>
</header>
<div class="text-about">
  <h1>O que é monitoramento TI</h1>
  <p>
    "Da perspectiva de tecnologia, monitoramento são ferramentas e processos
    pelos quais você mede e gerência seus sistemas de TI. Mas monitoramento é
    muito mais que isso. Monitoramento fornece a tradução entre valor de negócio
    e as métricas geradas pelos seus sistemas e aplicações. Seus sistemas de
    monitoramento traduzem essas métricas em experiência do usuário mensurável.
    Essa experiência do usuário mensurável fornece o feedback ao negócio para
    ajudar a garantir que ele entrega o que o cliente precisa. A experiência do
    usuário também fornece feedback à TI para indicar o que não está funcionando
    e o que está entregando qualidade de serviço insuficiente." O sistema de
    monitoramento possui dois clientes
  </p>
  <p>• Tecnologia da Informação</p>

  <p>• O Negócio</p>
  <p>Turnbull, James . The Art of Monitoring.</p>
</div>
<section id="faq">
  <div id="faq-about">
    <h1>FAQ</h1>
    <p>Perguntas Frequentes.</p>
  </div>
  <div id="faq-questions">
    <div class="faq">
      <div class="question">
        <h3>O que é Monitoramento de TI?</h3>

        <svg width="15" height="10" viewBox="0 0 42 25" (click)="teste()">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          É o acompanhamento do desempenho das aplicações de TI e seus serviços.
          O objetivo principal do monitoramento de TI é medir os elementos
          sistêmicos e os serviços ao cliente que estes sistemas suportam,
          permanecendo em alto nível de disponibilidade e desempenho. A
          monitoração de TI tem como entrega principal, a geração automatizada
          de alarmes para acionamento aos times operacionais de TI para
          tratamento dos cenários e desvios identificados, buscando minimizar o
          impacto em caso de falhas ou ser preditivo a elas.
        </p>
      </div>
    </div>

    <div class="faq">
      <div class="question">
        <h3>Existem tipos de monitoramento de TI?</h3>

        <svg width="15" height="10" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          Sim, a priori a Oi trabalha com duas disciplinas de monitoramento.
          Primeiramente o monitoramento de infraestrutura que objetiva monitorar
          todos os elementos físicos que suportam a aplicação (Sejam em
          arquiteturas On-Premise ou em Nuvem, estando hospedadas em VMs ou
          Containers), tais como elementos de Rede, itens de Hardware, itens de
          Sistema Operacionais, armazenamento, Web Applications, entre outros. A
          segunda disciplina abrange a observabilidade e monitoramento de
          serviços. Este, focado na aplicação e no serviço final do cliente (por
          exemplo, disponibilidade e taxa de erros no serviço de viabilidade do
          Fibra)
        </p>
      </div>
    </div>

    <div class="faq">
      <div class="question">
        <h3>Como solicito um novo monitoramento de TI?</h3>

        <svg width="15" height="10" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          Existem duas esteiras de solicitação de monitoramento. 01 – O
          monitoramento de infraestrutura é solicitado via Work Order na
          ferramenta ITSM ou por CRQs pré agendadas. Naturalmente, em projetos
          de implementação de novas infraestruturas ou atualização de
          existentes, o projeto deve contemplar esta ação. 02 – Monitoramento de
          Serviços e Observabilidade são tratados nas esteiras de projeto. Novas
          solicitações são tratadas nas reuniões do projeto, onde, realizamos a
          abertura de novas Features para refinamento e planejamento destas
          entregas. Solicitações de esteiras já em andamento podem ser
          requisitadas via Work Order também.
        </p>
      </div>
    </div>
    <div class="veja-mais">
      <a href="#">Veja mais</a>
    </div>
  </div>
</section>
<script src="./app.js"></script>
<div class="graphic">
  <h1>Como funciona</h1>
  <p><img src="assets/grafico.png" /></p>
</div>
<footer>
  <div class="footer-main">
    <div class="logo-footer">
      <img img src="assets/logo.png" width="110" height="95" />
      <div>
        <div class="footer-list-container">
          <ul class="footer-list">
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
          <ul class="footer-list">
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
        </div>
      </div>
    </div>
    <button class="button">Contate-nos</button>
  </div>
  <div class="copyright">
    <p>Copyright (c) 2022 Joao Manfron</p>
    <p>All right deserved</p>
  </div>
</footer>
